
<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.produit) }}
        {{ form_widget(form.produit) }}
        {{ form_errors(form.produit) }}

        <br/>
        {{ form_label(form.capacite) }}
        {{ form_widget(form.capacite) }}
        {{ form_errors(form.capacite) }}


    </div>

    <div class="col-md-5 offset-2">
        {{ form_label(form.quantitecommandeshow) }}
        {{ form_widget(form.quantitecommandeshow) }}
        {{ form_errors(form.quantitecommandeshow) }}

        {#{{ form_label(form.capacitebidonshow) }}
        {{ form_widget(form.capacitebidonshow) }}
        {{ form_errors(form.capacitebidonshow) }}#}

    </div>

</div>