
<hr>
<div class="row">

    <div class="col-md-5 ">
      {#  {{ form_label(form.reference) }}
        {{ form_widget(form.reference) }}
        {{ form_errors(form.reference) }}#}

        {{ form_label(form.designation) }}
        {{ form_widget(form.designation) }}
        {{ form_errors(form.designation) }}

        {{ form_label(form.prixU) }}
        {{ form_widget(form.prixU) }}
        {{ form_errors(form.prixU) }}

        {{ form_label(form.prixventeconseiller) }}
        {{ form_widget(form.prixventeconseiller) }}
        {{ form_errors(form.prixventeconseiller) }}

    </div>
    <div class="col-md-5 offset-2">


        {{ form_label(form.categprod) }}
        {{ form_widget(form.categprod) }}
        {{ form_errors(form.categprod) }}


        {{ form_label(form.stockalerte) }}
        {{ form_widget(form.stockalerte) }}
        {{ form_errors(form.stockalerte) }}

        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}

    </div>

</div>