{% extends 'produit/produit.html.twig' %}

{% block content %}
<div class="col-lg-10">
    <h1>Détail produit</h1>

    <table class="table-bordered table">
        <tbody>
        <tr>
            <th>N°</th>
            <td>{{ produit.id }}</td>
        </tr>
        <tr>
            <th>Réference</th>
            <td>{{ produit.reference }}</td>
        </tr>
        <tr>
            <th>Désignation</th>
            <td>{{ produit.description }}</td>
        </tr>
        <tr>
            <th>Prix unitaire</th>
            <td>
                {{ produit.prixU }}

            </td>
        </tr>

        <tr>
            <th>Description</th>
            <td>{{ produit.description }}</td>
        </tr>

        <tr>
            <th>Enregistré par </th>
            <td>
                {{ produit.createdBy }}<br> le
                {{ produit.createdOn ? produit.createdOn |date('d-m-Y H:i:s') : ''  }}
            </td>
        </tr>
        <tr>
            <th>Modifié par </th>
            <td>
                {{ produit.editedBy }} <br>le
                {{ produit.editedOn ? produit.editedOn |date('d/m/Y H:i:s') : '' }}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <a class="btn btn-default col-md-3" href="{{ path('produit_index') }}">
            <i class="fa fa-chevron-left"></i>
            Retour à la liste

        </a>


        <a class="btn btn-primary col-md-2 offset-6" href="{{ path('produit_edit', { 'slug': produit.slug }) }}">
            <i class="fa fa-pencil"></i>
            Modifier
        </a>
    </div>
</div>

{% endblock %}












{#
{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Referent</th>
                <td>{{ client.referent }}</td>
            </tr>
            <tr>
                <th>Nomcomplet</th>
                <td>{{ client.nomcomplet }}</td>
            </tr>
            <tr>
                <th>Adresserue</th>
                <td>{{ client.adresserue }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ client.type }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ client.telephone }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ client.ville }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ client.codepostal }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ client.mail }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ client.slug }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ client.createdOn ? client.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EditedOn</th>
                <td>{{ client.editedOn ? client.editedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}#}
