{% extends 'base.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <h2 class="tm-block-title d-inline-block">Ajouter produit</h2>
                    <hr>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.nom) }}
                            {{ form_row(form.prenom) }}
                            {{ form_row(form.ville) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.adresse) }}
                            {{ form_row(form.codePostal) }}
                            {{ form_row(form.telephone) }}
                        </div>
                    </div>
                    <button class="btn btn-warning" type="submit"><i class="fas fa-circle"> </i> Mettre à jour</button>
                    <button class="btn btn-primary float-right" type="reset"><i class="fas fa-cut"> </i> Annuler</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
