<a style="cursor: pointer"  data-toggle="modal" data-target="#{{ produit.slug }}">
    <i style="font-size: 20px" class="fa fa-eye "></i>
</a>

<!-- Modal -->
<div class="modal fade " id="{{ produit.slug}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="color: #000000">
    <div class="modal-dialog modal-lg" role="document"  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Détails produit</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table" style="background-color: #868e96">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ produit.id }}</td>
                    </tr>

                    <tr>
                        <th>Désignation</th>
                        <td>{{ produit.designation }}</td>
                    </tr>

                    <tr>
                        <th>Prix unitaire</th>
                        <td>{{ produit.prixU | number_format(0,0,' ')}}</td>
                    </tr>

                    <tr>
                        <th>Prix conseiller</th>
<<<<<<< HEAD
                        <td>{{ produit.prixventeconseiller }}</td>
=======
                        <td>{{ produit.prixventeconseiller | number_format(0,0,' ')}}</td>
>>>>>>> cccffef21ab05015167d3fea9954872b3e053207
                    </tr>

                    <tr>
                        <th>Categorie</th>
                        <td>{{ produit.categprod}}</td>
                    </tr>

                    <tr>
                        <th>Description</th>
                        <td>{{ produit.description }}</td>
                    </tr>
                    <tr>
                        <th>Enregistré le</th>
                        <td>
                            {{ produit.createdOn ? produit.createdOn |date('d-m-Y H:i:s') : ''  }} <br>
                            Par {{ produit.createdBy }}
                        </td>
                    </tr>
                    <tr>
                        <th>Modifié le </th>
                        <td>
                            {{ produit.editedOn ? produit.editedOn |date('d-m-Y H:i:s') : ''  }} <br>
                            Par {{ produit.editedBy }}
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="row" >
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-chevron-left"></i>
                        Retour à la liste
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Imprimer</button>
            </div>
        </div>
    </div>
</div>