<hr>
<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.intituleshow) }}
        {{ form_widget(form.intituleshow) }}
        {{ form_errors(form.intituleshow) }}

        {{ form_label(form.datecomshow) }}
        {{ form_widget(form.datecomshow) }}
        {{ form_errors(form.datecomshow) }}

    </div>

    <div class="col-md-5 offset-2">

        {{ form_label(form.fournisseurshow) }}
        {{ form_widget(form.fournisseurshow) }}
        {{ form_errors(form.fournisseurshow) }}

    </div>

</div>