{% extends 'commandeshow/commandeShow.html.twig' %}

{# page tableau et recherche #}

{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            <h2>
                <i class="fa fa-table" ></i>
                Liste commandes showrooms</h2></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ path('commandeshow_new') }}" class="btn btn-primary ">
                        <i class="fa fa-chevron-right"></i>
                        Nouveau
                    </a>
                </div>

                <div class="offset-8 col-md-2 ">
                    <a href="#" class="btn btn-success ">
                        <i class="fa fa-print"></i>
                        Imprimer
                    </a>
                </div>
            </div>
            <hr>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                <tr>
                    <th>Référence</th>
                    <th>Intitule de la commande</th>
                    <th>Showroom</th>
                    <th>Date de commande</th>
                    <th>Valider</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for commandeshow in commandeshows %}
                    <tr>
                        <td>{{ commandeshow.reference }}</td>
                        <td ><a style="color: white" href="{{ path('commandershow_index', {'slug' : commandeshow.slug}) }}">{{ commandeshow.intituleshow | upper }}</a></td>
                        <td>{{ commandeshow.showroom }}</td>
                        <td> {{ commandeshow.datecomshow ? commandeshow.datecomshow | date('d-M-Y') : ''}}</td>
                        <td>
                            {% if commandeshow.statut == 0 %}
                            {#{{ commandeshow.statut ? "En cours":"Approuvé"  }}#}
                                <div class="tm-status-circle pending">
                                </div>En cours

                            {% else %}
                                <div class="tm-status-circle moving">
                                </div>Approuvée

                            {% endif %}
                        </td>

                        <td>
                            {% include('commandeshow/viewmodal.html.twig') %}
                        </td>
                        <td>
                            <a  class="" href="{{ path('commandeshow_show', {'slug': commandeshow.slug}) }}">
                                <i class="fa fa-edit tm-product-delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer small text-muted">Hier à 11:59 </div>

{% endblock %}
