
<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.produit) }}
        {{ form_widget(form.produit) }}
        {{ form_errors(form.produit) }}


        {{ form_label(form.quantiteachete) }}
        {{ form_widget(form.quantiteachete) }}
        {{ form_errors(form.quantiteachete) }}

    </div>

    <div class="col-md-5 offset-2">
        {{ form_label(form.capacitebidon) }}
        {{ form_widget(form.capacitebidon) }}
        {{ form_errors(form.capacitebidon) }}


        {{ form_label(form.quantitecarton) }}
        {{ form_widget(form.quantitecarton) }}
        {{ form_errors(form.quantitecarton) }}


    </div>

</div>