<hr>
<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.client) }}
        {{ form_widget(form.client) }}
        {{ form_errors(form.client) }}




    </div>

    <div class="col-md-5 offset-2">

        {{ form_label(form.datevente) }}
        {{ form_widget(form.datevente) }}
        {{ form_errors(form.datevente) }}

    </div>

</div>