<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.intitule) }}
        {{ form_widget(form.intitule) }}
        {{ form_errors(form.intitule) }}

        {{ form_label(form.datecommande) }}
        {{ form_widget(form.datecommande) }}
        {{ form_errors(form.datecommande) }}

    </div>

    <div class="col-md-5 offset-2">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}

        {{ form_label(form.fournisseur_id) }}
        {{ form_widget(form.fournisseur_id) }}
        {{ form_errors(form.fournisseur_id) }}

    </div>

</div>
