{% extends 'commande/commande.html.twig' %}

{# page tableau et recherche #}

{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            <h2>
                <i class="fa fa-table" ></i>
                Liste des commandes</h2></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ path('commande_new') }}" class="btn btn-primary ">
                        <i class="fa fa-chevron-right"></i>
                        Nouveau
                    </a>
                </div>

                <div class="offset-8 col-md-2 ">
                    <a href="#" class="btn btn-success ">
                        <i class="fa fa-print"></i>
                        Imprimer
                    </a>
                </div>
            </div>
            <hr>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                <tr>
                    <th>Référence</th>
                    <th>Date</th>
                    <th>Intitulé</th>
                    <th>Fournisseur</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.reference }}</td>
                        <td> {{ commande.datecommande ? commande.datecommande | date('d-M-Y') : ''}}</td>
                        <td><a style="color: white" href="{{ path('commander_index', {'slug' : commande.slug}) }}">{{ commande.intitule | upper }}</a></td>
                        <td>{{ commande.fournisseur }}</td>

                        <td>
                            {% include('commande/viewmodal.html.twig') %}
                        </td>
                        <td>
                            <a  class="" href="{{ path('commande_show', {'slug': commande.slug}) }}">
                                <i class="fa fa-edit tm-product-delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer small text-muted">Hier à 11:59 </div>

{% endblock %}
