<hr>
<div class="row">

    <div class="col-md-5 ">

        {{ form_label(form.nomshow) }}
        {{ form_widget(form.nomshow) }}
        {{ form_errors(form.nomshow) }}

        {{ form_label(form.quartier) }}
        {{ form_widget(form.quartier) }}
        {{ form_errors(form.quartier) }}

        {{ form_label(form.telephone) }}
        {{ form_widget(form.telephone) }}
        {{ form_errors(form.telephone) }}
    </div>

    <div class="col-md-5 offset-2">

        {{ form_label(form.representant) }}
        {{ form_widget(form.representant) }}
        {{ form_errors(form.representant) }}

        {{ form_label(form.tel) }}
        {{ form_widget(form.tel) }}
        {{ form_errors(form.tel) }}

        {{ form_label(form.mail) }}
        {{ form_widget(form.mail) }}
        {{ form_errors(form.mail) }}

    </div>

</div>