<div id="div1">
    {% if( form.client is defined) %}
        <hr>
        <div class="row">

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-11 ">

                        {{ form_label(form.client) }}
                        {{ form_widget(form.client) }}
                        {{ form_errors(form.client) }}

                    </div>
                    <div class="col-md-1" style="margin-left: -50px; padding-top: 20px">
                        <a  class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-address-card"> </i> </a>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Nouveau client</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {# <form>
                                             <div class="form-group">
                                                 <label for="recipient-name" class="col-form-label">Recipient:</label>
                                                 <input type="text" class="form-control" id="recipient-name">
                                             </div>
                                             <div class="form-group">
                                                 <label for="message-text" class="col-form-label">Message:</label>
                                                 <textarea class="form-control" id="message-text"></textarea>
                                             </div>
                                         </form>#}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button type="button" class="btn btn-primary">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-5 offset-2">

                {{ form_label(form.datevente) }}
                {{ form_widget(form.datevente) }}
                {{ form_errors(form.datevente) }}


            </div>

        </div>
        <hr>
    {% endif %}
    <div class="row">

        <div class="col-md-5 ">
            {% if(form.grosdetail is defined) %}
                {{ form_label(form.grosdetail) }}
                {{ form_widget(form.grosdetail) }}
                {{ form_errors(form.grosdetail) }}
            {% endif %}
        </div>

        <div class="col-md-5 offset-2">
            {% if (form.modereglement is defined) %}
                {{ form_label(form.modereglement) }}
                {{ form_widget(form.modereglement) }}
                {{ form_errors(form.modereglement) }}
            {% endif %}


        </div>
    </div>

</div>




<hr>
<div class="row">

    <div class="col-md-5 ">


        {{ form_label(form.produit) }}
        {{ form_widget(form.produit) }}
        {{ form_errors(form.produit) }}

        {{ form_label(form.quantiteachete) }}
        {{ form_widget(form.quantiteachete) }}
        {{ form_errors(form.quantiteachete) }}

    </div>

    <div class="col-md-5 offset-2">
        {{ form_label(form.quantitecarton) }}
        {{ form_widget(form.quantitecarton) }}
        {{ form_errors(form.quantitecarton) }}

        {{ form_label(form.capacitebidon) }}
        {{ form_widget(form.capacitebidon) }}
        {{ form_errors(form.capacitebidon) }}
    </div>
</div>



