<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.referent) }}
        {{ form_widget(form.referent) }}
        {{ form_errors(form.referent) }}

        {{ form_label(form.civilite) }}
        {{ form_widget(form.civilite) }}
        {{ form_errors(form.civilite) }}



        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}

        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
        {{ form_errors(form.prenom) }}

    </div>

    <div class="col-md-5 offset-2">

        {{ form_label(form.ville) }}
        {{ form_widget(form.ville) }}
        {{ form_errors(form.ville) }}

        {{ form_label(form.pays) }}
        {{ form_widget(form.pays) }}
        {{ form_errors(form.pays) }}

        {{ form_label(form.codepostal) }}
        {{ form_widget(form.codepostal) }}
        {{ form_errors(form.codepostal) }}

        {{ form_label(form.telephone) }}
        {{ form_widget(form.telephone) }}
        {{ form_errors(form.telephone) }}


    </div>

</div>
<br>
<hr>
<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.categorie) }}
        {{ form_widget(form.categorie) }}
        {{ form_errors(form.categorie) }}

    </div>
</div>
<br>
<hr>

<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.personnecontact) }}
        {{ form_widget(form.personnecontact) }}
        {{ form_errors(form.personnecontact) }}

        {{ form_label(form.telfixe) }}
        {{ form_widget(form.telfixe) }}
        {{ form_errors(form.telfixe) }}

    </div>

    <div class="col-md-5 offset-2">


        {{ form_label(form.mail) }}
        {{ form_widget(form.mail) }}
        {{ form_errors(form.mail) }}

        {{ form_label(form.adresserue) }}
        {{ form_widget(form.adresserue) }}
        {{ form_errors(form.adresserue) }}

        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}

    </div>

</div>