{% extends 'client/client.html.twig' %}

{% block content %}

    <h1>Modification Client</h1>
    <div class="col-md-10" style="background-color: #cccccc">
        {{ form_start(form) }}
        {% if type is same as ('pp') %}
            {{ include('client/_form.html.twig') }}
        {% else %}
            {{ include('client/_formpm.html.twig') }}
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" href="{{ path('client_show' , {'slug': client.slug}) }}">
                    <i class="fa fa-chevron-left"></i>
                    Retour
                </a>
            </div>
            <div class="col-md-2 offset-2">
                <input class="btn btn-primary" type="submit" value="Modifier" />
                {{ form_end(form) }}
            </div>
            <div class="col-md-2"></div>
            {#{% if is_granted('ROLE_ADMIN') and is_granted('ROLE_SUP') %}#}
            <div class="col-md-2 offset-2">
                {% include('client/deletemodal.html.twig') %}
            </div>
            {# {% endif %}#}
        </div>
        <br>
    </div>

{% endblock %}

