{% extends 'client/client.html.twig' %}

{# page tableau et recherche #}

{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            <h2>
                <i class="fa fa-table" ></i>
                Liste des clients</h2></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ path('client_new') }}" class="btn btn-primary ">
                        <i class="fa fa-chevron-right"></i>
                        Nouveau
                    </a>
                </div>

                <div class="col-md-offset-4 col-md-2 ">
                    <a href="#" class="btn btn-success ">
                        <i class="fa fa-print"></i>
                        Imprimer
                    </a>
                </div>
            </div>
            <hr>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                <tr>
                    <th>Vue</th>
                    <th>Referent</th>
                    <th>Nom complet</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>
{#                            {% include('client/viewmodal.html.twig') %}#}
                        </td>
                        <td>{{ client.referent }}</td>
                        <td><a href="{{ path('client_show' , {'slug' :client.slug }) }}"> {{ client.nomcomplet }}</a></td>
                        <td>{{ client.telephone }}</td>
                        <td>{{ client.mail }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer small text-muted">Hier à 11:59 </div>

{% endblock %}
