
<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.produit) }}
        {{ form_widget(form.produit) }}
        {{ form_errors(form.produit) }}

        {{ form_label(form.quantitecommandee) }}
        {{ form_widget(form.quantitecommandee) }}
        {{ form_errors(form.quantitecommandee) }}
    </div>

    <div class="col-md-5 offset-2">
        {{ form_label(form.capacitecarton) }}
        {{ form_widget(form.capacitecarton) }}
        {{ form_errors(form.capacitecarton) }}

        {{ form_label(form.capacitebidon) }}
        {{ form_widget(form.capacitebidon) }}
        {{ form_errors(form.capacitebidon) }}









    </div>

</div>