
<div class="row">

    <div class="col-md-5 ">
        {{ form_label(form.produit) }}
        {{ form_widget(form.produit) }}
        {{ form_errors(form.produit) }}

        {{ form_label(form.quantitecommandee) }}
        {{ form_widget(form.quantitecommandee) }}
        {{ form_errors(form.quantitecommandee) }}
    </div>

    <div class="col-md-5 offset-2">

        {{ form_label(form.capacite) }}
        {{ form_widget(form.capacite) }}
        {{ form_errors(form.capacite) }}

    </div>

</div>