{% extends 'commander/commander.html.twig' %}

{# page tableau et recherche #}

{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            <h2>
                <i class="fa fa-table" ></i>
                Liste des produits: {{ commande.intitule }}</h2></div>
        <div class="card-body">
            <div class="row">

                {% if commande.etat != 2 %}
                    <div class="col-md-2">
                        <a href="{{ path('commander_new') }}" class="btn btn-primary ">
                            <i class="fa fa-chevron-right"></i>
                            Ajouter
                        </a>
                    </div>

                {% endif %}


                <div class="offset-8 col-md-2 ">
                    <a href="#" class="btn btn-success ">
                        <i class="fa fa-print"></i>
                        Imprimer
                    </a>
                </div>
            </div>
            <hr>

            <table class="table table-bordered" id="dataTable" >

                <thead>
                <tr>

                    <th>Produit</th>
                    <th>Qté commandée</th>
{#                    <th>Bidon/carton</th>#}
                    <th>Capacité</th>
                    <th>Etat</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for commander in commanders %}
                    <tr>

                        <td> {{commander.produit }}</a></td>

                        <td>{{ commander.quantitecommandee}}</td>

{#                        <td>{{ commander.capacitecarton }}</td>#}

                        <td>{{ commander.capacite.code }}</td>

                        <td>{{ commander.etat }}</td>


                        {#  <td>
  #}{#                              {% include('commande/viewmodal.html.twig') %}#}{#
                          </td>#}
                        <td>
                            <a  class="" href="{{ path('commander_show', {'id': commander.id}) }}">
                                <i class="fa fa-edit tm-product-delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">

                <div class="col-md-2 offset-9">
                    {% if commande.etat == 0 %}
                        <a class="btn btn-danger col-md-3" href="{{path('commande_approuver',{'id':commande.id})}}"  > Approuver
                            <i class="fa fa-chevron-right"></i>
                        </a>

                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-default col-md-3" href="{{ path('commande_index') }}">
                        <i class="fa fa-chevron-left"></i>
                        Retour à la liste
                    </a>
                </div>
            </div>


        </div>
    </div>
    <hr>




    <div class="card-footer small text-muted">Hier à 11:59 </div>

{% endblock %}
