{% extends 'commander/commander.html.twig' %}

{# page tableau et recherche #}

{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            <h2>
                <i class="fa fa-table" ></i>
                Liste des produits commander</h2></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ path('commander_new') }}" class="btn btn-primary ">
                        <i class="fa fa-chevron-right"></i>
                        Nouveau
                    </a>
                </div>

                <div class="offset-8 col-md-2 ">
                    <a href="#" class="btn btn-success ">
                        <i class="fa fa-print"></i>
                        Imprimer
                    </a>
                </div>
            </div>
            <hr>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                <tr>

                    <th>Produit</th>
                    <th>commande</th>
                    <th>Capacite</th>
                    <th>Capacite carton</th>
                    <th>code bar produit</th>
                    <th>code bar carton</th>

                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for commander in commanders %}
                    <tr>

                        <td>{{ commander.id }}</td>

                        <td> {{commander.produit }}</a></td>

                        <td>{{ commander.capacite }}</td>

                        <td>{{ commander.capacitecarton }}</td>

                        <td> {{commander.codebarecaton}}</a></td>

                        <td>{{ commander.codebareproduit }}</td>

                        <td>
                              {% include('commande/viewmodal.html.twig') %}
                        </td>
                        <td>
                            <a  class="" href="{{ path('commander_show', {'id': commander.id}) }}">
                                <i class="fa fa-edit tm-product-delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer small text-muted">Hier à 11:59 </div>

{% endblock %}
