{% extends 'commande/commande.html.twig' %}

{# page tableau et recherche #}

{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            <h2>
                <i class="fa fa-table" ></i>
                Liste des commandes</h2></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <a href="" class="btn btn-primary ">
                        <i class="fa fa-chevron-right"></i>
                        Nouveau
                    </a>
                </div>

                <div class="offset-8 col-md-2 ">
                    <a href="#" class="btn btn-success ">
                        <i class="fa fa-print"></i>
                        Imprimer
                    </a>
                </div>
            </div>
            <hr>

            <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Réferent</th>
                    <th>Nom complet</th>
                    {#<th>Nom complet</th>#}
                    <th>Tel</th>
                    <th>Type</th>
                    <th>Lancer une commande</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.referent }}</td>

                        <td>
                            {% if client.type == "Personne morale" %}
                                {{client.identifiant1  }}

                            {% else %}
                                {{client.identifiant1 ~ " " ~ client.identifiant2  }}
                            {% endif %}

                        </td>
                        <td>{{ client.telephone }}</td>
                        <td>{{ client.type }}</td>
                        <td class="text-center">
                            <a  class="btn btn-dark btn-small" href="{{ path('commandeclient_new', {'id': client.id}) }}">
                                <i class="fas fa-shopping-cart"> </i> Lancer une commande
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
