{% extends 'commande/commande.html.twig' %}

{% block content %}
    <div class="col-md-12" style="background-color: #cccccc">
        <div class="">
            <h3>Information du client</h3>
            <h6>{{ client.identifiant1 }} {{ client.identifiant2 }}</h6>
            <p class="lead">
                {{ client.telephone }} <br>
                <span>{{ client.type }}</span><br>
            </p>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <h3>Nouvelle commande</h3>
                {{ form_start(form) }}
                {{ form_row(form.referencecommande) }}
                <hr>
                {{ form_row(form.produitclient) }}
                {{ form_row(form.quantitecommande) }}
                <button class="btn btn-primary"> <i class="fas fa-save"></i> Ajouter</button>
                {{ form_end(form) }}
            </div>
            <div class="col-md-7">
                <h3>Liste des produits</h3>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Libellé produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Je suis le produit</td>
                        <td>52000</td>
                        <td>3</td>
                        <td>
                            <button class="btn btn-danger btn-small btn-sm">Supprimer</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Je suis le produit</td>
                        <td>52000</td>
                        <td>3</td>
                        <td>
                            <button class="btn btn-danger btn-small btn-sm">Supprimer</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
