{% extends '/fournisseur/fournisseur.html.twig' %}
{% block content %}

    <h1>Modification fournisseur</h1>
    <div class="col-md-10" style="background-color: #cccccc">
        {{ form_start(form) }}
        {{ include('fournisseur/_form.html.twig') }}
        <hr>
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-info" href="{{ path('fournisseur_show' , {'slug': fournisseur.slug}) }}">
                    <i class="fa fa-chevron-left"></i>
                    Retour
                </a>
            </div>
            <div class="col-md-2 offset-2">
                <input class="btn btn-primary" type="submit" value="Modifier" />
                {{ form_end(form) }}
            </div>
            <div class="col-md-2"></div>
            {#{% if is_granted('ROLE_ADMIN') and is_granted('ROLE_SUP') %}#}
            <div class="col-md-2 offset-2">
                {% include('fournisseur/deletemodal.html.twig') %}
            </div>
            {# {% endif %}#}
        </div>
        <br>
    </div>

{% endblock %}



{#
{% extends 'base.html.twig' %}

{% block title %}Edit Fournisseur{% endblock %}

{% block body %}
    <h1>Edit Fournisseur</h1>

    {{ include('fournisseur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fournisseur_index') }}">back to list</a>

    {{ include('fournisseur/_delete_form.html.twig') }}
{% endblock %}
#}
