{#{% extends 'base.html.twig' %}#}
{% extends 'fournisseur/fournisseur.html.twig' %}
{# {% block title %}Fournisseur index{% endblock %}#}
{% block content %}
    {#  {% block body %}#}
    {# <h1>Liste des fournisseurs</h1>#}

<div class="card mb-3">
    <div class="card-header">
        <h2>
            <i class="fa fa-table" ></i>
            Liste des fournisseurs</h2></div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('fournisseur_new') }}" class="btn btn-primary ">
                    <i class="fa fa-chevron-right"></i>
                    Nouveau
                </a>
            </div>

            <div class="offset-8 col-md-2 ">
{#                col-md-offset-4 col-md-2#}
                <a href="#" class="btn btn-success ">
                    <i class="fa fa-print"></i>
                    Imprimer
                </a>
            </div>
        </div>
        <hr>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
               {# <th>Id</th>#}
                <th>Nomcourt</th>
                <th>Nom complet</th>
                <th>Représentant</th>
                <th>Adresse rue</th>
                <th>Téléphone</th>
                <th>Mail</th>

                {#    <th>Codepostal</th>
                   <th>Email</th>
                  <th>Slug</th>
                   <th>CreatedOn</th>
                   <th>EditedOn</th>#}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                {#<td>{{ fournisseur.id }}</td>#}
                <td>{{ fournisseur.nomcourt }}</td>
                <td>{{ fournisseur.nomcomplet }}</td>
                <td>{{ fournisseur.representant }}</td>
                <td>{{ fournisseur.Adresserue }}</td>
                <td>{{ fournisseur.telephone }}</td>

               {# <td>{{ fournisseur.Codepostal }}</td>#}
                <td>{{ fournisseur.Mail }}</td>
                {#<td>{{ fournisseur.slug }}</td>
                <td>{{ fournisseur.createdOn ? fournisseur.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ fournisseur.editedOn ? fournisseur.editedOn|date('Y-m-d H:i:s') : '' }}</td>#}
               <td>
                   {% include('fournisseur/viewmodal.html.twig') %}

               </td>
                <td>

                   <a class="" href="{{ path('fournisseur_show', {'slug': fournisseur.slug}) }}">
                        <i class="fa fa-edit tm-product-delete-icon"></i>
                    </a>
                   {# <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>

                    <a  class="" href="{{ path('client_show', {'slug': client.slug}) }}">
                        <i class="fa fa-edit tm-product-delete-icon"></i>
                    </a>#}
                </td>
                  </tr>
                  {% else %}
                <tr>
                      <td colspan="14">no records found</td>
                        </tr>
                  {% endfor %}
                     </tbody>
                    </table>
            {#    <a href="{{ path('fournisseur_new') }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-chevron-right"></i>Create new</a> #}

               </div>
       </div>
{% endblock %}
