<style type="text/css">
    table{width:100%; border-collapse: collapse}
    .header td{width: 50%; vertical-align: top}
    .text-left{text-align: left}
    .text-right{text-align: right}
    .text-center {text-align:center}
    .separator{height: 150px; width: 100%}
    .content td{border:solid 1px #CFD1D2; padding: 5px;}
    .content th{border:solid 1px #000000; padding: 5px; background-color: darkorange; color: #ffffff}
</style>

{# page tableau et recherche #}

    <!-- Grâce aux options définies dans le contrôleur on peut insérer des
      images à partir de leur url absolue -->
<img src="{{ asset('templates/img/Ask.jpg') }}" alt="">

    <div class="card mb-3">
        <div class="card-header">
            <h2 align="center">
                <i class="fa fa-table" ></i>
                Liste des fournisseurs</h2></div>
        Imprimé le :
        <br>
        Par : <b> {{ app.user.nom ~  '  ' ~  app.user.prenom | upper}}</b>

        <br> <br>
        <table class="content">
            <thead>
            <tr>
                <th class="text-center" style="...">Nom court</th>
                <th class="text-center" style="...">Nom complet</th>
                <th class="text-center" style="...">Ville/Pays</th>
                <th class="text-center" style="...">E-mail</th>
                <th class="text-center" style="...">Téléphone</th>
                <th class="text-center" style="...">Representant</th>
            </tr>
            </thead>
            <tbody>
            {% for fournisseur in fournisseurs %}
                <tr>

                    <td class="text-center">{{fournisseur.nomcourt }}</td>
                    <td class="text-center">{{ fournisseur.nomcomplet }}</td>
                    <td class="text-center">{{ fournisseur.ville ~ '/'~ fournisseur.pays}}</td>
                    <td class="text-center">{{ fournisseur.mail}}</td>
                    <td class="text-center">{{ fournisseur.telephone}}</td>
                    <td class="text-center">{{ fournisseur.representant}}</td>



                </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
