{% extends 'fournisseur/fournisseur.html.twig' %}

{% block content %}

{#{% block body %}#}
<div class="col-lg-10">
    <h1>Detail Fournisseur</h1>

    <table class="table-bordered table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Nomcourt</th>
                <td>{{ fournisseur.nomcourt }}</td>
            </tr>
            <tr>
                <th>Nomcomplet</th>
                <td>{{ fournisseur.nomcomplet }}</td>
            </tr>
            <tr>
                <th>Representant</th>
                <td>{{ fournisseur.representant }}</td>
            </tr>
            <tr>
                <th>Adresserue</th>
                <td>{{ fournisseur.adresserue }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ fournisseur.telephone }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ fournisseur.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ fournisseur.pays }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ fournisseur.codepostal}}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ fournisseur.mail }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ fournisseur.slug }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ fournisseur.createdOn ? fournisseur.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EditedOn</th>
                <td>{{ fournisseur.editedOn ? fournisseur.editedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-default col-md-3" href="{{ path('fournisseur_index') }}">
            <i class="fa fa-chevron-left"></i>
            Retour à la liste
        </a>


        <a class="btn btn-primary col-md-2 offset-6" href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">
            <i class="fa fa-pencil"></i>
            Modifier
        </a>

    {#<a href="{{ path('fournisseur_index') }}">back to list</a>

    <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>

    {{ include('fournisseur/_delete_form.html.twig') }}#}
    </div>
</div>
{% endblock %}
