

{# page tableau et recherche #}

    <!-- Grâce aux options définies dans le contrôleur on peut insérer des
      images à partir de leur url absolue -->
{#<img width="200px" src="../../public/templates/img/Ask.jpg" alt="logo">#}




    <div class="card mb-3">
        <div class="card-header">
            <h2 align="center">
                <i class="fa fa-table" ></i>
                Liste des catégories</h2></div>
        Imprimé le :
        <br>
        Par : <b> {{ app.user.nom ~  '  ' ~  app.user.prenom | upper}}</b>

            <hr>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                <tr>
                    <th width="50%">N°</th>
                    <th width="50%">Libellé</th>
                    <th width="50%">description</th>
                    </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.id }}</td>

                        <td>{{ categorie.libelle }}</td>

                        <td> {{categorie.description }}</a></td>

                       {# <td>
                            {% include('categorie/viewmodal.html.twig') %}
                        </td>#}
                       {# <td>
                            <a  class="" href="{{ path('categorie_show', {'slug': categorie.slug}) }}">
                                <i class="fa fa-edit tm-product-delete-icon"></i>
                            </a>
                        </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
