{#{% trans_default_domain 'FOSUserBundle' %}#}


<div class="card card-register mx-auto mt-5">
    <div class="card-header">Création de compte d'utilisateur</div>
    <div class="card-body">
        {#{% if error %}
            <div class="alert alert-danger">{error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}#}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <div class="text-center">
            {#<a class="d-block small mt-3" href="{{ path('fos_user_security_login') }}">Connexion</a>
            <a class="d-block small" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a>#}
        </div>
    </div>
</div>





